[tool.poetry]
name = "python-boilerplate"
version = "0.1.0"
description = "Python boilerplate"
authors = ["Samuel MARLHENS <samuel.marlhens@gmail.com>"]
packages = [
    { include = "*", from = "src"}
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/smarlhens/python-boilerplate#readme"
repository = "https://github.com/smarlhens/python-boilerplate"

[tool.poetry.scripts]
myapplication = "myapplication.main:main"

[tool.poetry.dependencies]
python = "^3.12"

[tool.poetry.dev-dependencies]
pytest = "8.2.1"
pytest-cov = "5.0.0"
black = "24.4.2"
mypy = "1.10.0"
bandit = "1.7.8"
docformatter = "1.7.5"
ruff = "0.4.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
backend-path = ["src"]

[tool.pytest.ini_options]
addopts = "-vvv"
testpaths = "tests"

[tool.black]
line_length = 90
target_version = ['py310']

[tool.ruff]
exclude = [
    ".venv",
    ".git",
    "__pycache__",
    "build",
    "dist",
    "venv",
]
ignore = []
line-length = 90
select = [
    "E",
    "F",
    "W",
    "I001",
]
src = ["src", "tests"]

[mypy]
files = ["src"]
strict_optional = false
