[tool.poetry]
name = "python-boilerplate"
version = "0.1.0"
description = "Python boilerplate"
authors = ["Samuel MARLHENS <samuel.marlhens@gmail.com>"]
packages = [
    { include = "*", from = "src"}
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/smarlhens/python-boilerplate#readme"
repository = "https://github.com/smarlhens/python-boilerplate"

[tool.poetry.scripts]
myapplication = "myapplication.main:main"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]
pytest = "7.2.2"
pytest-cov = "3.0.0"
isort = "5.10.1"
black = "22.10.0"
flake8 = "4.0.1"
mypy = "0.991"
bandit = "1.7.4"
docformatter = "1.5.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
backend-path = ["src"]

[tool.pytest.ini_options]
addopts = "-vvv"
testpaths = "tests"

[tool.black]
line_length = 90
target_version = ['py310']

[tool.isort]
skip = ["venv", ".venv"]
line_length = 90
profile = "black"
sections = ["FUTURE","STDLIB","THIRDPARTY","FIRSTPARTY","TESTS","LOCALFOLDER"]
known_tests = "tests"

[mypy]
files = ["src"]
strict_optional = false
