name: pr

on:
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    env:
      UV_CACHE_DIR: /tmp/.uv-cache
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version-file: "pyproject.toml"
      - name: Install dependencies
        run: uv sync --all-extras --dev --frozen
      - name: Test with pytest
        run: uv run pytest tests --cov=src
      - name: Build a wheel
        run: uv build
      - name: Minimize uv cache
        run: uv cache prune --ci

  build-image:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
